# Server
# IPINFO_ADDR - host address, :8080, localhost:8080, 192.168.0.1:8080
# IPINFO_PROTOCOL - server protocol: http, https
# IPINFO_MAX_HEADER_BYTES - size of headers in bytes
# IPINFO_READ_TIMEOUT - duration of waiting reading in seconds
# IPINFO_WRITE_TIMEOUT - duration of waiting writing in seconds
# IPINFO_IDLE_TIMEOUT - durarion of idle when wait next request in keep-alive mode in seconds
IPINFO_ADDR=":8080"
IPINFO_PROTOCOL="https"
IPINFO_MAX_HEADER_BYTES="65536"
IPINFO_READ_TIMEOUT="10"
IPINFO_READ_HEADER_TIMEOUT="5"
IPINFO_WRITE_TIMEOUT="10"
IPINFO_IDLE_TIMEOUT="10"
# SSL
# IPINFO_CERT_FILE
# IPINFO_KEY_FILE
IPINFO_CERT_FILE="./ssl/ipinfo.crt"
IPINFO_KEY_FILE="./ssl/ipinfo.key"
# API Preferences
IPINFO_BASE_API_PATH="/api"