# Server
# IPINFO_SERVER_ADDR - host address, :8080, localhost:8080, 192.168.0.1:8080
# IPINFO_SERVER_PROTOCOL - server protocol: http, https
# IPINFO_SERVER_MAX_HEADER_BYTES - size of headers in bytes
# IPINFO_SERVER_READ_TIMEOUT - duration of waiting reading in seconds
# IPINFO_SERVER_WRITE_TIMEOUT - duration of waiting writing in seconds
# IPINFO_SERVER_IDLE_TIMEOUT - durarion of idle when wait next request in keep-alive mode in seconds
# IPINFO_SERVER_CERT_FILE - path to ssl certificate file
# IPINFO_SERVER_KEY_FILE - path to ssl key file
IPINFO_SERVER_ADDR=":8080"
IPINFO_SERVER_PROTOCOL="https"
IPINFO_SERVER_MAX_HEADER_BYTES="65536"
IPINFO_SERVER_READ_TIMEOUT="10"
IPINFO_SERVER_READ_HEADER_TIMEOUT="5"
IPINFO_SERVER_WRITE_TIMEOUT="10"
IPINFO_SERVER_IDLE_TIMEOUT="10"
IPINFO_SERVER_CERT_FILE="./ssl/ipinfo.crt"
IPINFO_SERVER_KEY_FILE="./ssl/ipinfo.key"
# API Preferences
# IPINFO_BASE_API_PATH
IPINFO_API_BASE_PATH="/api"
# Cache
# IPINFO_CACHE_TYPE
IPINFO_CACHE_TYPE="valkey"
# Database
# IPINFO_DATABASE_TYPE - type of database: postgresql, clickhouse
# IPINFO_DATABASE_USER - database user
# IPINFO_DATABASE_PASSWORD - database user password
# IPINFO_DATABASE_NAME - database name
# IPINFO_DATABASE_MAX_OPEN_CONNECTIONS - max open database connections
# IPINFO_DATABASE_MAX_IDLE_CONNECTIONS - max idle database connections
# IPINFO_DATABASE_CONNECTION_MAX_LIFETIME - max lifetime of connection
# IPINFO_DATABASE_CONNECTION_MAX_IDLE_TIME - max time of idle connection
IPINFO_DATABASE_TYPE="postgresql"
IPINFO_DATABASE_USER="postgres"
IPINFO_DATABASE_PASSWORD="12345"
IPINFO_DATABASE_NAME="ipinfo"
IPINFO_DATABASE_MAX_OPEN_CONNECTIONS="5"
IPINFO_DATABASE_MAX_IDLE_CONNECTIONS="5"
IPINFO_DATABASE_CONNECTION_MAX_LIFETIME="300"
IPINFO_DATABASE_CONNECTION_MAX_IDLE_TIME="300"