# IPINFO_UPDATER - update info from rirs
# IPINFO_UPDATER_REGISTRY_FILEPATH - path to rir registry files
# IPINFO_UPDATER_DURATION_TYPE - type of durarion frequency: second, minute, hour
# IPINFO_UPDATER_UPDATE_FREQUENCY - frequency
IPINFO_UPDATER_REGISTRY_FILEPATH="./data"
IPINFO_UPDATER_DURATION_TYPE="hour"
IPINFO_UPDATER_UPDATE_FREQUENCY="1"
# Database
# IPINFO_UPDATER_DATABASE_TYPE - type of database: postgresql, clickhouse
# IPINFO_UPDATER_DATABASE_HOST - host of database
# IPINFO_UPDATER_DATABASE_PORT - port of database
# IPINFO_UPDATER_DATABASE_USER - database user
# IPINFO_UPDATER_DATABASE_PASSWORD - database user password
# IPINFO_UPDATER_DATABASE_NAME - database name
# IPINFO_UPDATER_DATABASE_MAX_OPEN_CONNECTIONS - max open database connections
# IPINFO_UPDATER_DATABASE_MAX_IDLE_CONNECTIONS - max idle database connections
# IPINFO_UPDATER_DATABASE_CONNECTION_MAX_LIFETIME - max lifetime of connection
# IPINFO_UPDATER_DATABASE_CONNECTION_MAX_IDLE_TIME - max time of idle connection
IPINFO_UPDATER_DATABASE_TYPE="postgresql"
IPINFO_UPDATER_DATABASE_HOST="localhost"
IPINFO_UPDATER_DATABASE_PORT="5432"
IPINFO_UPDATER_DATABASE_USER="postgres"
IPINFO_UPDATER_DATABASE_PASSWORD="12345"
IPINFO_UPDATER_DATABASE_NAME="ipinfo"
IPINFO_UPDATER_DATABASE_MAX_OPEN_CONNECTIONS="5"
IPINFO_UPDATER_DATABASE_MAX_IDLE_CONNECTIONS="5"
IPINFO_UPDATER_DATABASE_CONNECTION_MAX_LIFETIME="300"
IPINFO_UPDATER_DATABASE_CONNECTION_MAX_IDLE_TIME="300"
# Cache
# IPINFO_UPDATER_CACHE_TYPE
IPINFO_UPDATER_CACHE_TYPE="valkey"